{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<a href="{% url 'last_news' %}">{% trans "Home" %}</a><br>
{% if request.user.is_authenticated %}
    <b>{% trans "Welcome" %}, <a href="{% url 'account' request.user.pk %}">{{ request.user.username }}</a></b><br>
    <a href="{% url 'logout' %}">{% trans "Log out" %}</a><br>
    <a href="{% url 'create_news' %}">{% trans "New post" %}</a>
    <a href="{% url 'update_blog' %}">{% trans "Import from csv" %}</a>
    <a href="{% url 'last_news' %}?mode=author">{% trans "Drafts" %}</a><br>
    {% if perms.app_news.set_published %}
        <a href="{% url 'last_news' %}?mode=moder">{% trans "News to moderate" %}</a>
    {% endif %}
    {% if perms.app_news.delete_comment %}
        <a href="{% url 'admin:app_news_comment_changelist' %}">{% trans "Comments" %}</a>
    {% endif %}
{% else %}
    {% trans "Hi, Anonymous!" %}
    <a href="{% url 'register' %}">{% trans "Register" %}</a>,
       <a href="{% url 'login' %}">{% trans "log in" %}</a>,
       {% trans "or just watch" %}.
{% endif %}
<br>
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="{% trans "Go" %}">
</form>

<hr>

{% block page %}{% endblock %}
</body>
</html>