<html>
<ul>
    <li>
        Прошел все курсы на SkillBox. Продаю готовые домашние задания". И список курсов со ссылками на страницы детального отображения. На странице конкретного курса должно быть фото, ссылка на курс и цена решения.
    </li>
    <li>
        <a href="course1/">Курс Интернет Маркетолог</a>
    </li>
    <li>
        <a href="course2/">Веб дизайн с нуля до PRO</a>
    </li>
    <li>
        <a href="course3/">SMM специалист</a>
    </li>
    <li>
        <a href="course4/">Графический дизайнер</a>
    </li>
    <li>
        <a href="course5/">Таргетолог</a>
    </li>
</ul>

</html>